<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>articles</title>
</head>
<body>
    {% extends "base.html" %}
    {% set active_page = "articles" %}
    {% block body %}
    
    {% for article in articles %}
        <p>
            {{ article["content"] | truncate(225, killwords=True) }}
        </p>
        <p>
            {% if article["seen"] | length > 1 %}
                Seen by {{ ", ".join(article["seen"][:-1]) }}, and {{ article["seen"][-1] }}
            {% elif article["seen"] | length == 1 %}
                Seen by {{ article["seen"][0] }}
            {% else %}
                No one has seen this article before.
            {% endif %}
        </p>
    {% endfor %}

    {% endblock %}
</body>
</html>