<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>navigation</title>
</head>
<body>
    <h2><a href="{{ url_for('randomLanguage') }}">Random Language</a></h2>
    <h2><a href="{{ url_for('randomLanguage2') }}">Random Language 2</a></h2>
    <h2><a href="{{ url_for('products') }}">Products</a></h2>
    <h2><a href="{{ url_for('list_articles') }}">Articles</a></h2>
    <h2><a href="{{ url_for('list_posts') }}">Posts</a></h2>
</body>
</html>