{% set navigation_bar = [
    ('/', 'index', 'Index'),
    ('/randomlanguage', 'randomlanguage', 'Random Language'),
    ('/randomlanguage2', 'randomlanguage2', 'Random Language 2'),
    ('/products', 'products', 'Products'),
    ('/articles', 'articles', 'Articles'),
    ('/posts', 'posts', 'Posts')
] -%}
{% set active_page = active_page|default('index') -%}
...
<ul id="navigation">
{% for href, id, caption in navigation_bar %}
  <li{% if id == active_page %} class="active"{% endif
  %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
{% endfor %}
</ul>

{% block body %}{% endblock %}