<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>workshop</title>
    <style>
        div {
            text-align: center;
            padding: 20px 0;
        }
        ul {
            list-style-type: none;
            padding: 0 20px;
            }
        li {
            padding: 5px 0;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div>
        <h2><a href="{{ url_for('firstweb') }}">Exercise 1 (Serve your own website)</a></h2>
    </div>

    <div>
        <h2>Exercise 2 (Navigate), exercise 3 (Read from file):</h2>
        <ul>
            {% for id, name in movies.items() %}
            <li><a href="{{ url_for('movie', movie_id=id) }}">{{ name }}</a></li>
            {% endfor %}
    
            <li><a href="../static/jw.jpg">How to defeat Thanos</a></li>
        </ul>
    </div>

    <div>
        <h2><a href="{{ url_for('webform') }}">Exercise 4 (Query parameters)</a></h2>
    </div>
    
    <div>
        <h2><a href="{{ url_for('firstweb') }}">Exercise 5 (Basic authentication system)</a></h2>
    </div>

</body>
</html>