<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
    <style>
        form {
            text-align: center;
            margin: 30px auto;
        }
    </style>
</head>
<body>
    <form method="POST">
        <p>
            {{ nameform.name.label }}<br>
            {{ nameform.name() }}
        </p>
        <p>
            {{ nameform.submit() }}
        </p>
    </form>

    <form method="POST">
        <p>
            {{ priceform.price.label }}<br>
            {{ priceform.price() }}
        </p>
        <p>
            {{ priceform.submit() }}
        </p>
    </form>

    <form method="POST">
        <p>
            {{ qtyform.qty.label }}<br>
            {{ qtyform.qty() }}
        </p>
        <p>
            {{ qtyform.submit() }}
        </p>
    </form>

</body>
</html>
